<html>
  <head>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <style>
      body {
        font-family: "Inter", sans-serif;
        background-image: url(/assets/BackgroundLayer.jpg);
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer
    ></script>
  </head>

  <body class="min-h-screen bg-gray-100 text-gray-900 flex justify-center">
    <div
      class="max-w-screen-xl m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center flex-1"
    >
      <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12" style="height: 680px !important;">
        <div>
          <img
            src="assets/Branch.png"
            class="w-32 mx-auto"
          />
          <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
            Login Failed: {{errorMessage}}
          </div>
        </div>
        <div class="mt-12 flex flex-col items-center">
          <h1 class="text-2xl xl:text-3xl font-extrabold">
            Kanbaned Chain Liana Tasks
          </h1>
          <div class="w-full flex-1 mt-8">
            <div class="flex flex-col items-center">
              

              
            </div>

            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                <div class="mx-auto max-w-xs">
                    
                    <input
                    class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                    type="text"
                    name="username"
                    autocomplete="off"
                    placeholder="Username"
                    [(ngModel)]="form.username" #username="ngModel"
                    required [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
                >
                    <div *ngIf="f.submitted && username.invalid">
                        <div class="error-field" *ngIf="f.controls['username'].errors.required">Username is required</div>
                    </div>

                <input
                    class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white "
                    type="password"
                    name="password"
                    placeholder="Password"
                    [(ngModel)]="form.password"
                    #password="ngModel" required minlength="6" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                />
                    <div *ngIf="f.submitted && password.invalid">
                        <div class="error-field" *ngIf="f.controls['password'].errors.required">Password Is Required</div>
                        <div class="error-field" *ngIf="f.controls['password'].errors.minlength">Password Must Be At Least 6 Characters</div>
                    </div>
                <button
                    class=" tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
                    style="color:
                    #fff;
                    background-color:
                    #293335;"
                    routerLink="/boards"
                    >
                    <svg
                    class="w-6 h-6 -ml-2"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    >
                    <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                    <circle cx="8.5" cy="7" r="4" />
                    <path d="M20 8v6M23 11h-6" />
                    </svg>
                    <span class="ml-3">
                    Sign In
                    </span>
                </button>
                <p class="mt-6 text-xs text-gray-600 text-center">
                    Can't Log In ?
                    <a class="border-b border-gray-500 border-dotted" routerLink="/signup">
                    Sign Up For An Account
                    </a>
                </p>
                </div>
            </form>
          </div>
        </div>
      </div>
      <div class="flex-1 bg-indigo-100 text-center hidden lg:flex" style="background-image: url('assets/TaskBoard.gif');background-repeat: no-repeat;height: 600px !important;overflow: hidden;min-height: 100%;background-size: cover;background-position-x: left -80px;">
        <div
          
          
        ></div>
      </div>
    </div>
  </body>
</html>